@import url("https://fonts.googleapis.com/css?family=Open+Sans");

html,
body {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: var(--primary-font);
    box-sizing: border-box;
    overflow: hidden;

	*,
	*::before,
	*::after {
		box-sizing: border-box;
    }
}

.bodyComponent {
    flex-grow: 1;
	display: flex;
	box-sizing: border-box;
    background-color: var(--secondary-bg-color);
	
	*,
	*::before,
	*::after { 
		box-sizing: border-box; 
	}

	a {
		color: var(--link-text-common);
	}
}